*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, rgb(46, 46, 46), purple);
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}